// ie does not support variables, use mixins as workaround
@mixin border-color($varName, $defaultR, $defaultG, $defaultB) {
  border-color: rgb($defaultR, $defaultG, $defaultB);
  border-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin background-color($varName, $defaultR, $defaultG, $defaultB) {
  background-color: rgb($defaultR, $defaultG, $defaultB);
  background-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin color($varName, $defaultR, $defaultG, $defaultB) {
  color: rgb($defaultR, $defaultG, $defaultB);
  color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
.close-icon {
  cursor: pointer;

  font-size: 12px;
  padding: 0px 5px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;

  background-color: #e1e1e1;
  color: black;
  border: 1px solid var(--border-color);
  border-radius: 20px; // Consolidated to one line to avoid redundancy
  margin: 2px;
}

.tag-picker {
  visibility: hidden;
}
#container {
  padding-bottom: 3px;
  padding-right: 3px;
  .multi-value-control {
    .tag-picker input {
      @include color(--palette-neutral-100, 0, 0, 0);
    }
    .tag-picker [role="list"] {
      @include border-color(--palette-neutral-8, 234, 234, 234);
      &:not(:hover) {
        border-color: transparent;
      }
    }
    .tag-picker .ms-TagItem {
      @include background-color(--palette-neutral-4, 244, 244, 244);
      &:hover {
        @include background-color(--palette-neutral-8, 234, 234, 234);
      }
      &.is-selected {
        @include background-color(--palette-neutral-20, 200, 200, 200);
      }
      .ms-TagItem-close {
        @include color(--palette-neutral-60, 102, 102, 102);
      }
    }
    &.focused .tag-picker input {
      display: none;
    }
    &.focused .tag-picker .ms-BasePicker-text:hover {
      @include border-color(--palette-neutral-8, 234, 234, 234);
    }
    .options {
      button {
        width: 100%;
        &:hover {
          @include background-color(--palette-primary-tint-40, 239, 246, 252);
        }
        .ms-Checkbox-text {
          @include color(--palette-neutral-100, 0, 0, 0);
        }
      }
      .checkboxes {
        padding: 3px;
      }
      input {
        @include color(--palette-neutral-100, 0, 0, 0);
        @include background-color(--palette-neutral-0, 255, 255, 255);
      }
    }
    .error {
      @include color(--palette-accent1, 218, 10, 0);
    }
  }
}
.ms-Fabric--isFocusVisible .ms-TagItem:focus:after {
  @include border-color(--palette-neutral-100, 0, 0, 0);
}
.options {
  width: 100%;
}

<<<<<<< HEAD
.addIcon {
=======
<<<<<<< HEAD
.addIcon {
=======
.chevronIcon {
>>>>>>> master



>>>>>>> master
  font-size: 24px;
  height: 24px;
  width: 24px;
}
.header {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.text {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  width: 100%;
  display: inline-block;
}
.iconWrapper {
  display: flex;
  align-items: center;
}
