


@import "../node_modules/azure-devops-ui/Core/Core.scss";

@mixin border-color($varName, $defaultR, $defaultG, $defaultB) {
  border-color: rgb($defaultR, $defaultG, $defaultB);
  border-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin background-color($varName, $defaultR, $defaultG, $defaultB) {
  background-color: rgb($defaultR, $defaultG, $defaultB);
  background-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin color($varName, $defaultR, $defaultG, $defaultB) {
  color: rgb($defaultR, $defaultG, $defaultB);
  color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}

#container {
  padding-bottom: 3px;
  padding-right: 3px;
  .multi-value-control {
    .tag-picker input {
      @include color(--palette-neutral-100, 0, 0, 0);
    }
    .tag-picker [role="list"] {
      @include border-color(--palette-neutral-8, 234, 234, 234);
      &:not(:hover) {
        border-color: transparent;
      }
    }.AddBtn{
      @include background-color(--palette-neutral-4, 244, 244, 244);
    @include color(--palette-neutral-100, 0, 0, 0);
    font-size: 11px;
    border-radius: 12px;
    height: 25px;
    padding: 2px 8px;
  margin: 3px}
    .tag-picker .ms-TagItem {
      @include background-color(--palette-neutral-4, 244, 244, 244);
      &:hover {
        @include background-color(--palette-neutral-8, 234, 234, 234);
      }
      &.is-selected {
        @include background-color(--palette-neutral-20, 200, 200, 200);
      }
      .ms-TagItem-close {
        @include color(--palette-neutral-60, 102, 102, 102);
      }
    }
    &.focused .tag-picker input {
      display: none;
    }
    &.focused .tag-picker .ms-BasePicker-text:hover {
      @include border-color(--palette-neutral-8, 234, 234, 234);
    }
    .options {
      button {
        width: 100%;
        &:hover {
          @include background-color(--palette-primary-tint-40, 239, 246, 252);
        }
        .ms-Checkbox-text {
          @include color(--palette-neutral-100, 0, 0, 0);
        }
      }
      .checkboxes {
        padding: 3px;
      }
      input {
        @include color(--palette-neutral-100, 0, 0, 0);
        @include background-color(--palette-neutral-0, 255, 255, 255);
      }
    }
    .error {
      @include color(--palette-accent1, 218, 10, 0);
    }
  }
}
.ms-Fabric--isFocusVisible .ms-TagItem:focus:after {
  @include border-color(--palette-neutral-100, 0, 0, 0);
}

.NoSlectionBtn {
  background: $neutral-6;
  color: $primary-text;
  border: none;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
 

 
}
.hoverEffect:hover{
 border: 1px solid $neutral-70;

}

.closeIconcustom {
  color: $primary-text;
 

}
option{
  color: $primary-text;
}

.text{
  background: $text-on-communication-background;
  color: $primary-text;
}


.customTagPicker {
  display: flex;
  align-items: center;
  background: $neutral-6;
  color: $primary-text;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 12px;
  white-space: nowrap;
  max-width: 100%;
  margin: 3px;
  height: 25px;
 
}
.AddBtn {
  background: $neutral-6;
  color:  $primary-text;
}

.customTagPicker .tag-text {
  font-size: 11px;
  line-height: 1.2;
  word-break: break-word;
  margin-right: 10px; /* Adds space between text and close button */
}


.tag-picker {
  visibility: hidden;
}






.options {
  width: 100%;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}