@mixin border-color($varName, $defaultR, $defaultG, $defaultB) {
  border-color: rgb($defaultR, $defaultG, $defaultB);
  border-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin background-color($varName, $defaultR, $defaultG, $defaultB) {
  background-color: rgb($defaultR, $defaultG, $defaultB);
  background-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin color($varName, $defaultR, $defaultG, $defaultB) {
  color: rgb($defaultR, $defaultG, $defaultB);
  color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}

#container {
  padding-bottom: 3px;
  padding-right: 3px;
  .multi-value-control {
    .NoSlectionBtn {
      @include background-color(--palette-neutral-8, 234, 234, 234);
      @include color(--palette-neutral-100, 0, 0, 0);

      border: none;
      border-radius: 4px;
      padding: 3px 5px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
    }
    option {
      @include color(--palette-neutral-100, 0, 0, 0);
    }
  }
  .text {
    @include color(--palette-neutral-100, 0, 0, 0);
    color: var(--text-primary-color, inherit) !important;
  }
  .customTagPicker {
    display: flex;
    align-items: center;
    @include background-color(--palette-neutral-8, 234, 234, 234);
    @include color(--palette-neutral-100, 0, 0, 0);
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 12px;
    white-space: nowrap;
    max-width: 100%;
    margin: 3px;
    height: 25px;
  }
  .hoverEffect:hover {
    @include border-color(--palette-neutral-100, 0, 0, 0);
    border: 1px solid;
  }
  .tag-picker input {
    @include color(--palette-neutral-100, 0, 0, 0);
  }
  .tag-picker [role="list"] {
    @include border-color(--palette-neutral-8, 234, 234, 234);
    &:not(:hover) {
      border-color: transparent;
    }
  }
  .AddBtn {
    @include background-color(--palette-neutral-4, 244, 244, 244);
    @include color(--palette-neutral-100, 0, 0, 0);
    font-size: 11px;

    height: 24px;

    margin: 3px;
  }
  .tag-picker .ms-TagItem {
    @include background-color(--palette-neutral-4, 244, 244, 244);
    &:hover {
      @include background-color(--palette-neutral-8, 234, 234, 234);
    }
    &.is-selected {
      @include background-color(--palette-neutral-20, 200, 200, 200);
    }
    .ms-TagItem-close {
      @include color(--palette-neutral-60, 102, 102, 102);
    }
  }
  &.focused .tag-picker input {
    display: none;
  }
  &.focused .tag-picker .ms-BasePicker-text:hover {
    @include border-color(--palette-neutral-8, 234, 234, 234);
  }
  .options {
    button {
      width: 100%;
      color: var(--text-primary-color, inherit) !important;
      &:hover {
        @include background-color(--palette-primary-tint-40, 239, 246, 252);
      }
      .ms-Checkbox-text {
        @include color(--palette-neutral-100, 0, 0, 0);
        color: var(--text-primary-color, inherit) !important;
      }
      label {
        color: var(--text-primary-color, inherit) !important;
      }
      span {
        color: var(--text-primary-color, inherit) !important;
      }
    }
    .checkboxes {
      padding: 3px;
    }
    input {
      @include color(--palette-neutral-100, 0, 0, 0);
      @include background-color(--palette-neutral-0, 255, 255, 255);
    }
    // Add general text color override for all children
    * {
      color: var(--text-primary-color, inherit) !important;
    }
  }
  .error {
    @include color(--palette-accent1, 218, 10, 0);
  }
}

.closeIconcustom {
  @include color(--palette-neutral-100, 0, 0, 0);
  cursor: pointer;
}

.ms-Fabric--isFocusVisible .ms-TagItem:focus:after {
  @include border-color(--palette-neutral-100, 0, 0, 0);
}

.customTagPicker .tag-text {
  font-size: 11px;
  line-height: 1.2;
  word-break: break-word;
  margin-right: 10px; /* Adds space between text and close button */
}

.options {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
