// ie does not support variables, use mixins as workaround
@mixin border-color($varName, $defaultR, $defaultG, $defaultB) {
    border-color: rgb($defaultR, $defaultG, $defaultB);
    border-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin background-color($varName, $defaultR, $defaultG, $defaultB) {
    background-color: rgb($defaultR, $defaultG, $defaultB);
    background-color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}
@mixin color($varName, $defaultR, $defaultG, $defaultB) {
    color: rgb($defaultR, $defaultG, $defaultB);
    color: rgb(var($varName, $defaultR, $defaultG, $defaultB));
}

#container {
    padding-bottom: 3px;
    padding-right: 3px;
    .multi-value-control {
        .tag-picker input {
            @include color(--palette-neutral-100, 0, 0, 0);
        }
        .tag-picker [role=list] {
            @include border-color(--palette-neutral-8, 234, 234, 234);
            &:not(:hover) {
                border-color: transparent;
            }
        }
        .tag-picker .ms-TagItem {
            @include background-color(--palette-neutral-4, 244, 244, 244);
            &:hover {
                @include background-color(--palette-neutral-8, 234, 234, 234);
            }
            &.is-selected {
                @include background-color(--palette-neutral-20, 200, 200, 200);
            }
            .ms-TagItem-close {
                @include color(--palette-neutral-60, 102, 102, 102);
            }
        }
        &.focused .tag-picker input {
            display: none;
        }
        &.focused .tag-picker .ms-BasePicker-text:hover {
            @include border-color(--palette-neutral-8, 234, 234, 234);
        }
        .options {
            button {
                width: 100%;
                &:hover {
                    @include background-color(--palette-primary-tint-40, 239, 246, 252);
                }
                .ms-Checkbox-text {
                    white-space: nowrap;
                    @include color(--palette-neutral-100, 0, 0, 0);
                }
            }
            .checkboxes {
                overflow: auto;
                height: 250px;
                padding: 3px;
            }
            input {
                @include color(--palette-neutral-100, 0, 0, 0);
                @include background-color(--palette-neutral-0, 255, 255, 255);
            }
        }
        .error {
            @include color(--palette-accent1, 218, 10, 0);
        }
    }
}
.ms-Fabric--isFocusVisible .ms-TagItem:focus:after {
    @include border-color(--palette-neutral-100, 0, 0, 0);
}